<div class='jumbotron'>
  <div class='home-search-area'>
    <h2>Explore and discover...</h2>
    <h3>Web archive of urgent global challenge events and initiatives</h3>
    <%#= content_tag :h2, t('geoblacklight.home.headline') %>
    <%#= content_tag :h3, t('geoblacklight.home.search_heading') %>
    <div class='row'>
      <div class='col-md-6 col-md-offset-3'>
        <%= render_search_form_no_navbar %>
      </div>
    </div>
  </div>
</div>

<div class='container home-facets'>
  <div class='row'>
    <div class='col-md-12'>
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <h4 class="sr-only"><%= facet_field_label(Settings.FIELDS.PART_OF) %></h4>
          <div class="panel panel-default facet_limit blacklight-<%= Settings.FIELDS.PART_OF %> ">
            <div class="panel-heading" data-toggle="collapse" data-target="#facet-<%= Settings.FIELDS.PART_OF %>">
              <h3 class="panel-title facet-field-heading">
                <a data-no-turbolink="true" href="#"><%= facet_field_label(Settings.FIELDS.PART_OF) %></a>
              </h3>
            </div>
            <div id="facet-<%= facet_field_label(Settings.FIELDS.PART_OF) %>" class="panel-collapse facet-content in">
              <div class="panel-body">
                <%= render_facet_tags_home [Settings.FIELDS.PART_OF] %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-4">
          <h4 class="sr-only"><%= facet_field_label(Settings.FIELDS.SUBJECT) %></h4>
          <div class="panel panel-default facet_limit blacklight-<%= Settings.FIELDS.SUBJECT %>">
            <div class="panel-heading" data-toggle="collapse" data-target="#facet-<%= Settings.FIELDS.SUBJECT %>" aria-expanded="true">
              <h3 class="panel-title facet-field-heading">
                <a data-no-turbolink="true" href="#"><%= facet_field_label(Settings.FIELDS.SUBJECT) %></a>
              </h3>
            </div>
            <div id="<%= facet_field_label(Settings.FIELDS.SUBJECT) %>" class="panel-collapse facet-content" aria-expanded="true" style="">
              <div class="panel-body">
                <%= render_facet_tags_home [Settings.FIELDS.SUBJECT] %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-4">
          <h4 class="sr-only"><%= facet_field_label(Settings.FIELDS.HASHTAGS) %></h4>
          <div class="panel panel-default facet_limit blacklight-<%= Settings.FIELDS.HASHTAGS %> ">
            <div class="panel-heading" data-toggle="collapse" data-target="#<%= Settings.FIELDS.HASHTAGS %>">
              <h3 class="panel-title facet-field-heading">
                <a data-no-turbolink="true" href="#"><%= facet_field_label(Settings.FIELDS.HASHTAGS) %></a>
              </h3>
            </div>
            <div id="facet-<%= facet_field_label(Settings.FIELDS.HASHTAGS) %>" class="panel-collapse facet-content in">
              <div class="panel-body">
                <%= render_facet_tags_home [Settings.FIELDS.HASHTAGS] %>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class='col-md-12 text-center'>
      <%= content_tag :h3, t('geoblacklight.home.map_heading') %>
      <%= content_tag :div, '', id: 'map', data: { map: 'home', 'catalog-path'=> search_catalog_path , 'map-bbox' => params[:bbox], basemap: geoblacklight_basemap, leaflet_options: leaflet_options } %>
    </div>
  </div>
</div>
